*{
    margin: 0;
    padding: 0;
}
/* --------------------顶部------------------------------------------------------------------------------------------------ */
#top{
    width: 1000px;
    height: 80px;
    margin: 0px auto;
}
#topula{
    list-style: none;
    float: left;
}
#topula>li{
    float: left;
    font-size: 20px;
    margin-right: 50px;
}
#topula>li:nth-of-type(1){
    width: 150px;
    height: 60px;
    margin-top: 10px;
}
#topula>li:nth-of-type(1)>img{
    width: 150px;
    height: 60px;
}
#topula>li>a{
    text-decoration: none;
    color: black;
}
#topula>li>a:hover{
    color: red;
}
#topula>li{
    height: 80px;
    line-height: 80px;
}
#topula>li:nth-of-type(2)>a{
    color: red;
}
#topulb{
    float: right;

}
#topulb>li{
    float: left;
    list-style: none;
    margin-left: 30px;
    margin-top: 25px;
}
#topulb>li:nth-of-type(1)>input{
    width: 200px;
    height: 30px;
}
#topulbtn{
    width: 50px;
    height: 30px;
    border: 1px solid red;
    color: red;
    background-color: white;
    cursor: pointer;
}
/* -------------------------------阴影------------------------------ */
#yinying{
    width: 100%;
    height: 5px;
    background-image: linear-gradient(white,rgb(212, 210, 210));
    border-bottom: 1px solid rgb(180, 178, 178);
}
/* -------------------------------帮助中心-------------------------------- */
#help{
    width: 270px;
    height: 320px;
    background-color: #f3f3f3;
    position: absolute;
    top: 130px;
    left: 450px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}
#help>p:nth-of-type(1){
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-indent: 20px;
    border-bottom: 1px solid #000;
}
#help>p:nth-of-type(2){
    text-indent: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
#help>p:nth-of-type(2)>a{
    text-decoration: none;
    color: black;
}
#help>p:nth-of-type(2)>a:hover{
    color: red;
}
#help>ul:nth-of-type(1){
    margin-left: 30px;
}
#help>ul:nth-of-type(1)>li{
    list-style: none;
    margin-top: 5px;
}
#help>ul:nth-of-type(1)>li>a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
#help>ul:nth-of-type(1)>li>a:hover{
    color: red;
}
#help>p:nth-of-type(3){
    text-indent: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-top: 10px;
}
#help>p:nth-of-type(3)>a{
    text-decoration: none;
    color: black;
}
#help>p:nth-of-type(3)>a:hover{
    color: red;
}
#help>ul:nth-of-type(2){
    margin-left: 30px;
    margin-top: 10px;
}
#help>ul:nth-of-type(2)>li{
    list-style: none;
    margin-top: 5px;
}
#help>ul:nth-of-type(2)>li>a{
    text-decoration: none;
    color: #000;
}
#help>ul:nth-of-type(2)>li>a:hover{
    color: red;
}
/* --------------------------------商务合作------------------------------- */
#shangwu{
    width: 700px;
    height: 2400px;
    background-color: #f3f3f3;
    position: absolute;
    top: 130px;
    left: 750px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}
#shangwu>h2{
    border-bottom: 1px solid #000;
}
#shangwu>p:nth-of-type(1){
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
#shangwu>p:nth-of-type(2){
    margin-top: 30px;
}
#shangwu>h3{
    margin-top: 30px;
}
#shangwu>p{
    margin-top: 10px;
}
#shangwu>#lianxi{
    margin-top: 50px;
    font-size: 20px;
}
/* ------------------------------战略合作：----------------------------- */
#shangwu>#zhanlue{
    font-size: 25px;
    margin-top: 50px;
    font-weight: 600;
}
#shangwu>ul:nth-of-type(1){
    margin-left: 30px;
    margin-top: 20px;
}
#shangwu>ul:nth-of-type(1)>li{
    list-style: none;
    margin-top: 10px;
}
/* --------------------------------商业/营销合作：------------------------ */
#shangwu>#hezuo{
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}
#shangwu>ul:nth-of-type(2){
    margin-left: 30px;
    margin-top: 20px;
}
#shangwu>ul:nth-of-type(2)>li{
    list-style: none;
    margin-top: 10px;
}
/* -----------------------商务/试用合作：-------------------------------- */
#shangwu>#shangwushiyong{
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}
#shangwu>ul:nth-of-type(3){
    margin-left: 30px;
    margin-top: 20px;
}
#shangwu>ul:nth-of-type(3)>li{
    list-style: none;
    margin-top: 10px;
}
/* --------------------------市场/品牌合作：------------------------------------ */
#shangwu>#pinpai{
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}
#shangwu>ul:nth-of-type(4){
    margin-left: 30px;
    margin-top: 20px;
}
#shangwu>ul:nth-of-type(4)>li{
    list-style: none;
    margin-top: 10px;
}
/* ------------------------深圳分站：----------------------------- */
#shangwu>#shenzhen{
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}
#shangwu>ul:nth-of-type(5){
    margin-left: 30px;
    margin-top: 20px;
}
#shangwu>ul:nth-of-type(5)>li{
    list-style: none;
    margin-top: 10px;
}
/* --------------------------极果优品客服/购买咨询：--------------------------------- */
#shangwu>#youpin{
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}
#shangwu>ul:nth-of-type(6){
    margin-left: 30px;
    margin-top: 20px;
}
#shangwu>ul:nth-of-type(6)>li{
    list-style: none;
    margin-top: 10px;
}
/* ----------------------------------------底部--------------------------------- */
#foot{
    width: 100%;
    height: 400px;
    margin-top: 2500px;
    background-color: #505050;
}
#footer{
    width: 1000px;
    height: 400px;
    margin: 0px auto;
}
#foota{
    width: 160px;
    height: 160px;
    float: left;
    margin-top: 40px;
}
#foota>img{
    width: 160px;
    height: 160px;
}
/* ---------------------------footb------------------------------ */
#footb{
    width: 140px;
    height: 160px;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}
#footula>li:nth-of-type(1){
    width: 100%;
    height: 50px;
    list-style: none;
}
#footula>li:nth-of-type(1)>img{
    width: 100%;
    height: 50px;
}
#footula>li:nth-of-type(2){
    margin-top: 20px;
    font-size: 12px;
    list-style: none;
    color: rgb(171, 168, 168);
}
#footula>li:nth-of-type(3){
    font-size: 12px;
    margin-top: 20px;
    list-style: none;
    color: rgb(171, 168, 168);
}
/* -----------------------------footc-------------------------------- */
#footc{
    width: 100px;
    height: 160px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}
#footc>ul>li:nth-of-type(1){
    color: white;
    font-size: 20px;
    list-style: none;
}
#footc>ul>li:nth-of-type(2){
    list-style: none;
    margin-top: 40px;
   
}
#footc>ul>li:nth-of-type(2)>a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(179, 174, 174);
}
#footc>ul>li:nth-of-type(2)>a:hover{
    color: red;
}
#footc>ul>li:nth-of-type(3){
    list-style: none;
    
}
#footc>ul>li:nth-of-type(3)>a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(179, 174, 174);
}
#footc>ul>li:nth-of-type(3)>a:hover{
    color: red;
}
/* ---------------------------footd---------------------------- */
#footd{
    width: 150px;
    height: 220px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}
#footd>p{
    color: white;
    font-size: 20px;
}
#footda{
    width: 150px;
    height: 170px;
    margin-top: 20px;
}
#footda>ul>li{
    list-style: none;
    float: left;
    width: 75px;
}
#footda>ul>li>a{
    text-decoration: none;
    color: #c3bfbf;
    font-size: 12px;
}
#footda>ul>li>a:hover{
    color: red;
}
/* ----------------------------------foote---------------------------- */
#foote{
    width: 160px;
    height: 160px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}
#foote>p{
    color: white;
    font-size: 20px;
}
#foote>ul{
    margin-top: 20px;
}
#foote>ul>li{
    list-style: none;
}
#foote>ul>li>a{
    text-decoration: none;
    color: #cac6c6;
    font-size: 12px;
}
#foote>ul>li>a:hover{
    color: red;
}
/* -------------------------------footf--------------------------- */
#footf{
    width: 170px;
    height: 140px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}
#footf>p{
    color: white;
    font-size: 20px;
}
#footf>ul{
    margin-top:20px;
}
#footf>ul>li{
    list-style: none;
}
#footf>ul>li>a{
    text-decoration: none;
    color: #c3bfbf;
    font-size: 12px;

}
#footf>ul>li>a:hover{
    color: red;
}

