*{
    margin: 0;
    padding: 0;
}
/* --------------------顶部------------------------------------------------------------------------------------------------ */
#white{
    background-color: white;
}
#top{
    width: 1000px;
    height: 80px;
    margin: 0px auto;
}
#topula{
    list-style: none;
    float: left;
}
#topula>li{
    float: left;
    font-size: 20px;
    margin-right: 50px;
}
#topula>li:nth-of-type(1){
    width: 150px;
    height: 60px;
    margin-top: 10px;
}
#topula>li:nth-of-type(1)>img{
    width: 150px;
    height: 60px;
}
#topula>li>a{
    text-decoration: none;
    color: black;
}
#topula>li>a:hover{
    color: red;
}
#topula>li{
    height: 80px;
    line-height: 80px;
}
#topula>li:nth-of-type(4)>a{
    color: red;
}
#topulb{
    float: right;

}
#topulb>li{
    float: left;
    list-style: none;
    margin-left: 30px;
    margin-top: 25px;
}
#topulb>li:nth-of-type(1)>input{
    width: 200px;
    height: 30px;
}
#topulbtn{
    width: 50px;
    height: 30px;
    border: 1px solid red;
    color: red;
    background-color: white;
    cursor: pointer;
}
/* -------------------------------阴影------------------------------ */
#yinying{
    width: 100%;
    height: 5px;
    background-image: linear-gradient(white,rgb(212, 210, 210));
    border-bottom: 1px solid rgb(180, 178, 178);
}
body{
    background-color: #f7f7f7;
}
/* ------------------------------toper---------------------------- */
#toper{
    width: 1000px;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    color: rgb(167, 164, 164);
    font-size: 12px;
}
/* ------------------------------------pen---------------------------- */
#pen{
    width: 700px;
    height: 4880px;
    margin-left: 454px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
#pen>img{
    margin-left: 30px;
}
#pen>p:nth-of-type(1){
    font-size: 30px;
    margin-top: 20px;
    text-indent: 20px;
}
#pen>p:nth-of-type(2){
    height: 40px;
    margin-top: 20px;
    color: rgb(169, 164, 164);
    font-size: 12px;
    text-indent: 10px;
    border-bottom: 1px solid rgb(217, 212, 212);
}
#pen>p:nth-of-type(2)>span:nth-of-type(1){
    width: 20px;
    height: 20px;
    transform: translate(0px,5px);
    display: inline-block;
    margin-right: 30px;
}
#pen>p:nth-of-type(2)>span:nth-of-type(1)>img{
    width: 20px;
    height: 20px;
}
#pen>p:nth-of-type(2)>span:nth-of-type(2){
    margin-left: 530px;
}
#pen>p:nth-of-type(3){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(4){
    width: 100%;
    text-align: center;font-weight: 600;
    font-size: 20px;
}
#pen>p:nth-of-type(5){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(6){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(7){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(8){
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
#pen>p:nth-of-type(9){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(10){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(11){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(12){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(13){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(14){
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    font-size: 20px;
}
#pen>p:nth-of-type(15){
    font-size: 14px;
    text-indent: 30px;
    margin-top: 30px;
}
#pen>p:nth-of-type(16){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(17){
    font-size: 14px;
    text-indent: 30px;
}
#pen>p:nth-of-type(18){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(19){
    font-size: 14px;
    text-indent: 30px;
}
#pen>p:nth-of-type(20){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(21){
    font-size: 14px;
    text-indent: 30px;
}
#pen>p:nth-of-type(22){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(23){
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
}
#pen>p:nth-of-type(24){
    font-size: 14px;
    margin-top: 40px;
    text-indent: 20px;
}
#pen>p:nth-of-type(24)>a{
    text-decoration: none;
    color: rgb(189, 186, 186);
}
#pen>p:nth-of-type(24)>a:hover{
    color: red;
}
#pen>p:nth-of-type(25){
    font-size: 14px;
    text-indent: 20px;
}
#pen>p:nth-of-type(25)>a{
    text-decoration: none;
    color: rgb(189, 186, 186);
}
#pen>p:nth-of-type(25)>a:hover{
    color: red;
}
/* -------------------------------定位--------------------------------------- */
#dingwei{
    width: 273px;
    height: 110px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 139px;
    right: 437px;
    border: 1px solid rgb(194, 191, 191);
}
#dingweia{
    width: 135px;
    height: 110px;
    float: left;
    color: #c3bfbf;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid rgb(202, 199, 199);
}
#dingweia:hover{
    color: red;
}
#dingweia>img{
    margin-top: 30px;
}
#dingweib{
    width: 135px;
    height: 110px;
    float: left;
    color: #c3bfbf;
    cursor: pointer;
    text-align: center;
}
#dingweib:hover{
    color: red;
}
#dingweib>img{
    margin-top: 30px;
}
/* ----------------------------------------底部--------------------------------- */
#foot{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    background-color: #505050;
}
#footer{
    width: 1000px;
    height: 400px;
    margin: 0px auto;
}
#foota{
    width: 160px;
    height: 160px;
    float: left;
    margin-top: 40px;
}
#foota>img{
    width: 160px;
    height: 160px;
}
/* ---------------------------footb------------------------------ */
#footb{
    width: 140px;
    height: 160px;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}
#footula>li:nth-of-type(1){
    width: 100%;
    height: 50px;
    list-style: none;
}
#footula>li:nth-of-type(1)>img{
    width: 100%;
    height: 50px;
}
#footula>li:nth-of-type(2){
    margin-top: 20px;
    font-size: 12px;
    list-style: none;
    color: rgb(171, 168, 168);
}
#footula>li:nth-of-type(3){
    font-size: 12px;
    margin-top: 20px;
    list-style: none;
    color: rgb(171, 168, 168);
}
/* -----------------------------footc-------------------------------- */
#footc{
    width: 100px;
    height: 160px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}
#footc>ul>li:nth-of-type(1){
    color: white;
    font-size: 20px;
    list-style: none;
}
#footc>ul>li:nth-of-type(2){
    list-style: none;
    margin-top: 40px;
   
}
#footc>ul>li:nth-of-type(2)>a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(179, 174, 174);
}
#footc>ul>li:nth-of-type(2)>a:hover{
    color: red;
}
#footc>ul>li:nth-of-type(3){
    list-style: none;
    
}
#footc>ul>li:nth-of-type(3)>a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(179, 174, 174);
}
#footc>ul>li:nth-of-type(3)>a:hover{
    color: red;
}
/* ---------------------------footd---------------------------- */
#footd{
    width: 150px;
    height: 220px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}
#footd>p{
    color: white;
    font-size: 20px;
}
#footda{
    width: 150px;
    height: 170px;
    margin-top: 20px;
}
#footda>ul>li{
    list-style: none;
    float: left;
    width: 75px;
}
#footda>ul>li>a{
    text-decoration: none;
    color: #c3bfbf;
    font-size: 12px;
}
#footda>ul>li>a:hover{
    color: red;
}
/* ----------------------------------foote---------------------------- */
#foote{
    width: 160px;
    height: 160px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}
#foote>p{
    color: white;
    font-size: 20px;
}
#foote>ul{
    margin-top: 20px;
}
#foote>ul>li{
    list-style: none;
}
#foote>ul>li>a{
    text-decoration: none;
    color: #cac6c6;
    font-size: 12px;
}
#foote>ul>li>a:hover{
    color: red;
}
/* -------------------------------footf--------------------------- */
#footf{
    width: 170px;
    height: 140px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}
#footf>p{
    color: white;
    font-size: 20px;
}
#footf>ul{
    margin-top:20px;
}
#footf>ul>li{
    list-style: none;
}
#footf>ul>li>a{
    text-decoration: none;
    color: #c3bfbf;
    font-size: 12px;

}
#footf>ul>li>a:hover{
    color: red;
}























