*{
    margin: 0;
    padding: 0;
}

.login{
    width: 100%;
    height: 800px;
    background-color: #F7F7F7;
    overflow: hidden;
}

.log_{
    width: 1000px;
    height: 700px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.log_p1{
   margin-top: 20px;
   font-size: 20px;
   font-weight: 600;
   color: #474747;
   border-left: 5px solid red;
   text-indent: 20px;
}
.log_form{
    width: 510px;
    margin: 40px auto;
    margin-left: 325px;
}
.log_form>p{
    margin-top: 25px;
    position: relative;
    width: 100%;
}

.log_form>p>input{
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-indent: 20px;
}
.log_form>p>span{
    display: inline-block;
    width: 200px;
    height: 20px;
    /* background-color: aqua; */
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 14px;
    color: #474747;
}

#imga,
#yzm{
    width: 180px;
}
p>img{
    position: absolute;
    top: 2px;
}
i{
    position: absolute;
    width: 100px;
    height: 40px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 200px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #FE5341;
}
i:hover{
    cursor: pointer;
}

button{
    width: 300px;
    height: 40px;
    margin-top: 30px;
    background-color: #FE5341;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    color: white;
}
